*, *:after, *:before {
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#popupCrear{
    display: none;
}
#overlayCrear {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
  
.card {
    background: #fbfbfb;
    border-radius: 0.15em;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    float: left;
    font-size: 20px;
    left: 40%;
    margin: 0 auto;
    padding: 24px 32px;
    position: absolute;
    text-align: center;
    top: 40%;
    -webkit-transform: translateY(-5%) translateX(-30%);
    transform: translateY(-5%) translateX(-30%);
    width: 400px;
    z-index: 999999;
}
.card:hover {
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.card h1 {
    color: #111;
    font-size: 24px;
    font-weight: 400;
    margin: 8px 0 24px 0;
    text-align: center;
}
.card p {
    color: #303030;
    font-weight: 300;
    line-height: 24px;
    margin: 2px 0 2px 0;
    text-align: center;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
   }
    10% {
        transform: rotate(0deg);
   }
    20% {
        transform: rotate(90deg);
   }
    35% {
        transform: rotate(90deg);
   }
    45% {
        transform: rotate(180deg);
   }
    60% {
        transform: rotate(180deg);
   }
    75% {
        transform: rotate(270deg);
   }
    85% {
        transform: rotate(270deg);
   }
    100% {
        transform: rotate(360deg);
   }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
   }
    10% {
        -webkit-transform: rotate(0deg);
   }
    20% {
        -webkit-transform: rotate(90deg);
   }
    35% {
        -webkit-transform: rotate(90deg);
   }
    45% {
        -webkit-transform: rotate(180deg);
   }
    60% {
        -webkit-transform: rotate(180deg);
   }
    75% {
        -webkit-transform: rotate(270deg);
   }
    85% {
        -webkit-transform: rotate(270deg);
   }
    100% {
        -webkit-transform: rotate(360deg);
   }
}
@keyframes bounce {
    0% {
        transform: scaleX(1);
   }
    10% {
        transform: scaleX(1);
   }
    20% {
        transform: scaleX(0.8);
   }
    35% {
        transform: scaleX(0.8);
   }
    45% {
        transform: scaleX(1);
   }
    60% {
        transform: scaleX(1);
   }
    75% {
        transform: scaleX(0.8);
   }
    85% {
        transform: scaleX(0.8);
   }
    100% {
        transform: scaleX(1);
   }
}
@-webkit-keyframes bounce {
    0% {
        -webkit-transform: scaleX(1);
   }
    10% {
        -webkit-transform: scaleX(1);
   }
    20% {
        -webkit-transform: scaleX(0.8);
   }
    35% {
        -webkit-transform: scaleX(0.8);
   }
    45% {
        -webkit-transform: scaleX(1);
   }
    60% {
        -webkit-transform: scaleX(1);
   }
    75% {
        -webkit-transform: scaleX(0.8);
   }
    85% {
        -webkit-transform: scaleX(0.8);
   }
    100% {
        -webkit-transform: scaleX(1);
   }
}
.card .loader {
    box-sizing: content-box;
    height: 40px;
    margin: 0 auto 10px auto;
    position: relative;
    width: 70px;
}
.card .loader:before {
    border: 2px solid #3FADCF;
    box-sizing: content-box;
    content: '';
    height: 0;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 0;
}
.card .loader .spin {
    -webkit-animation: spin 2.25s linear infinite;
    animation: spin 2.25s linear infinite;
    height: 14px;
    left: 28px;
    position: absolute;
    top: 13px;
    width: 14px;
}
.card .loader .spin:before {
    border: 3px solid #3FADCF;
    box-sizing: content-box;
    content: '';
    height: 14px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    width: 14px;
}
.card .loader .bounce {
    -webkit-animation: bounce 2.25s linear infinite;
    animation: bounce 2.25s linear infinite;
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.card .loader .bounce:after, .card .loader .bounce:before {
    box-sizing: content-box;
    content: '';
    height: 10px;
    position: absolute;
    top: 13px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 10px;
}
.card .loader .bounce:before {
    border-bottom: 3px solid #3FADCF;
    border-left: 3px solid #3FADCF;
    left: 0;
}
.card .loader .bounce:after {
    border-right: 3px solid #3FADCF;
    border-top: 3px solid #3FADCF;
    right: 0;
}


body{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:rgb(236, 234, 234);
}


header{
    position: fixed;
    padding: 15px;
    text-align: center;
    background: #ffffff;
    width: 100%;
    z-index: 9999;
    top: 0%;
    left:0%;
}
#headertitle{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: white;
}
#Txtlogo{
    position:absolute;
    top:25%;
    left:10%;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-decoration: bolder;
    color: #3FADCF;
}
#logo{
    position: absolute;
    top:2%;
    left:0%;
    width: 126px;
    height: 124px;
    border-width: 0px;
    background-color: rgba(0,0, 0, 0);
    background-repeat: no-repeat;
    background-image: url(../imagenes/Logo-Header.png);
    
}

#LogOut{
    position: absolute;
    top:12%;
    right: 10%;
}
#Usuario{
    position: absolute;
    top:8%;
    right: 5%;
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../imagenes/imgUsuarioM.png");
    background-size: 60px 60px;
    background-color: rgba(0, 0, 0,0);
    border-width: 0px;
}
#LO_M{
  
    border-radius: 10px;
    color:#555555;
    border: 0px;
    width: 100px;
    height: 54px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}
.minibutton{
    background-color: #3fadcf94;
    border-radius: 10px;
    color:#555555;
    border: 0px;
    width: 210px;
    height: 54px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    

}

#IngresarDatos{
    position:absolute;
    text-align: center;
    left:25%;
    right: 45%;
    top:18%;
    background-color: rgba(255, 255, 255,0.6);
    width: 270px;
    height: 500px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
#CrearReceta{
    position:absolute;
    text-align: center;
    right:25%;
    top:18%;
    background-color: white;
    width: 400px;
    height: 500px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.titles{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    
}
#title1{
    position: absolute;
    top:2%;
    left:4%;
    right: 4%;
}
#title2{
    position: absolute;
    top:2%;
    left:35%;
}
.smallheader{
    width: 270px;
    height: 40px;
    border-top-left-radius: 20px;
    background-color: #3FADCF;
    
}
.smallheader2{
    width: 400px;
    height: 40px;
    border-top-right-radius: 20px;
    background-color: #3FADCF;
}

.txtbox{
    color: black;
    background-color: rgba(255, 255, 255,0);
    width: 150px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom-style: solid;
    border-color: #3FADCF;
    border-width: 2px;
    padding: 10px 30px;
    font-size: 18px;
    outline: 0px;
}
.Bigtxtbox{
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 40px;
    border: 2px solid #3FADCF;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    width: 320px;
    height: 300px;
    padding-right: 30px;
    outline: 0px;
}

#indicaciones {
    padding-left: 30px;
    padding-bottom: 222px;
    box-sizing: border-box;
    
}
#tratamiento{
    position: absolute;
    top: 12%;
    left:10%;
}


.ayuda{
    position: absolute;
    top: 25%;
    left:2.3%;
    width: 65px;
    height: 65px;
    background-color: #ffffff9f;
    border-radius: 40px;
    border-width: 0px;
    font-size: 35px;
    text-align: center;
    color: rgb(102, 102, 102);
    cursor:pointer;
}
#RegresarM{
    position: absolute;
    top: 40%;
    left: 2.3%;
    width: 65px;
    height: 65px;
    background-color: #ffffff9f;
    border-radius: 40px;
    border-width: 0px;
    cursor: pointer;
}
#IconregresarM{
    position: absolute;
    top: 21.5%;
    left: 21.5%;
    font-size: 35px;
    color: rgb(102, 102, 102);
    cursor: pointer;
}
#confirmDNI{
    position: absolute;
    top: 38%;
    left: 80%;
    color: green;
    cursor: pointer;
}



/* BOTON DE METAMASK*/

* {
    font-family: 'Poppins', sans-serif;
}
.container {
    position: absolute;
    top: 90%;
    right:35%;
    margin-left: -65px;
    margin-top: -20px;
    width: 130px;
    height: 40px;
    text-align: center;
}
button {
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background: #fff;
    border: 2px solid #3FADCF;
    color: #3FADCF;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
}
button:hover {
    color: white;
    background: #3FADCF;
}
button:active {
    letter-spacing: 2px;
}
button:after {
    content: "ENVIAR";
}
.onclic {
    width: 40px;
    border-color: #bbb;
    border-width: 3px;
    font-size: 0;
    border-left-color: #3FADCF;
    -webkit-animation: rotating 2s 0.25s linear infinite;
    animation: rotating 2s 0.25s linear infinite;
}
.onclic:after {
    content: "";
}
.onclic:hover {
    color: #3FADCF;
    background: white;
}
.validate {
    font-size: 13px;
    color: white;
    background: #3FADCF;
}
.validate:after {
    font-family: 'Poppins', sans-serif;
    content: " \2713";
}
@-webkit-keyframes rotating {
    from {
        transform: rotate(0deg);
   }
    to {
        transform: rotate(360deg);
   }
}
@keyframes rotating {
    from {
        transform: rotate(0deg);
   }
    to {
        transform: rotate(360deg);
   }
}

 