body{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:rgb(236, 234, 234);
}


header{
    position: fixed;
    padding: 15px;
    text-align: center;
    background: #ffffff;
    width: 100%;
    z-index: 9999;
    top: 0%;
    left:0%;
}
#headertitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
#Txtlogo{
    position:absolute;
    top:25%;
    left:10%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: bolder;
    color: #3FADCF;
}
#logo{
    position: absolute;
    top:2%;
    left:0%;
    width: 126px;
    height: 124px;
    border-width: 0px;
    background-color: rgba(0,0, 0, 0);
    background-repeat: no-repeat;
    background-image: url(../imagenes/Logo-Header.png);
    
}
#LogOut{
    position: absolute;
    top:8%;
    left: 80%;
}
#Usuario{
    position: absolute;
    top:3%;
    left: 90%;
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../imagenes/imgUsuarioM.png");
    background-size: 60px 60px;
    background-color: rgba(0, 0, 0,0);
    border-width: 0px;
}

.title{
    font-family: Arial, sans-serif;
    color: #222222;
    font-size: 20px;
}

.minibutton{
    background-color: #B8EEFF;
    border-radius: 30px;
    color: #222222;

    border: 0px;
    width: 120px;
    height: 54px;
    font-size: 18px;
    cursor: pointer;
}
.minibuttmed{
    background-color: #B8EEFF;
    border-radius: 30px;
    color:#555555;
    border: 0px;
    width: 200px;
    height: 54px;
    font-size: 18px;
    
    cursor: pointer;
    
}

.botmed{
    position: absolute;
    text-align: center;
    
    top: 25%;
    
    left: 29%;
    height: 400px;
    width: 270px;
    border:4px solid #3FADCF;
    border-radius: 40px;
    background-color: white;
    background-image: url("../imagenes/imgUsuarioM.png");
    background-position: center;
    background-size: 161px 161px;
    background-repeat: no-repeat;
    background-position-y: 20%;
    
}

.botpac{
    position: absolute;
    text-align: center;
    top: 25%;
    right: 27%;
    
    height: 400px;
    width: 270px;
    border:4px solid #3FADCF;
    border-radius: 40px;
    background-color: white;
    background-image: url("../imagenes/imgUsuarioP.png");
    background-position: center;
    background-size: 161px 161px;
    background-repeat: no-repeat;
    background-position-y: 20%;
}