#MoverRecetas{
    position: absolute;

    top: 5%;

    height: 100%;
    width: 1000%;

}
#recetasContainer{
    position:absolute;
    top: 12%;
    left: 30%;
    background-color: rgb(236, 234, 234);
    width: 550px;
    height: 600px;
    border-radius: 30px;
    overflow-x: scroll;
  
}
#item1{
    position: absolute;
    top: 8%;
    left: 1%;
    cursor: pointer;
    
}
#item2{
    position: absolute;
    top: 8%;
    left: 11.9%;
    cursor: pointer;
}

.receta{
    align-content: center;
    background-image: linear-gradient(to bottom right,  #B8EEFF, rgba(63, 173, 207), rgb(54, 152, 182));
    width: 450px;
    height: 465px;
    border-radius: 20px;
    cursor: pointer;
}

body{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:rgb(236, 234, 234);
}


header{
    position: fixed;
    padding: 15px;
    text-align: center;
    background: #ffffff;
    width: 100%;
    z-index: 9999;
    top: 0%;
    left:0%;
}
#headertitle{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: white;
}
#Txtlogo{
    position:absolute;
    top:25%;
    left:10%;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-decoration: bolder;
    color: #3FADCF;
}
#logo{
    position: absolute;
    top:2%;
    left:0%;
    width: 126px;
    height: 124px;
    border-width: 0px;
    background-color: rgba(0,0, 0, 0);
    background-repeat: no-repeat;
    background-image: url(../imagenes/Logo-Header.png);
    
}

#LogOut{
    position: absolute;
    top:8%;
    left: 80%;
}
#Usuario{
    position: absolute;
    top:3%;
    left: 90%;
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../imagenes/imgUsuarioM.png");
    background-size: 60px 60px;
    background-color: rgba(0, 0, 0,0);
    border-width: 0px;
}
#verReceta{
    position: relative;
    top:40%;
    left: 3%;
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    cursor: pointer;
    color: black;
}
.minibutton{
    background-color: #B8EEFF;
    border-radius: 20px;
    color: #222222;

    border: 0px;
    width: 120px;
    height: 54px;
    font-size: 18px;
    cursor: pointer;
}
.ayuda{
    position: absolute;
    top: 25%;
    left:2.3%;
    width: 65px;
    height: 65px;
    background-color: #ffffff9f;
    border-radius: 40px;
    border-width: 0px;
    font-size: 35px;
    text-align: center;
    color: rgb(102, 102, 102);
    cursor: pointer;
}
#RegresarP{
    position: absolute;
    top: 40%;
    left: 2.3%;
    width: 65px;
    height: 65px;
    background-color: #ffffff9f;
    border-radius: 40px;
    border-width: 0px;
    cursor: pointer;
}
#RegresarP:hover {
  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ayuda:hover {
   color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#IconregresarP{
    position: absolute;
    top: 21.5%;
    left: 21.5%;
    font-size: 35px;
    color: rgb(102, 102, 102);
    cursor: pointer;
}
div{
    overflow: hidden;
}

.recetaflip{
 
    width: 450px;
    height: 465px;
    background-color: rgb(73, 201, 240);
    border-radius: 20px;
}


#lbl1{
    position: absolute;
    top: 50%;
    left: 35%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    cursor: pointer;
    
}
#lbl2{
    position: relative;
    top: 55%;
    left:42%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    cursor: pointer;
}
#chevron_left{
    position: absolute;
    top: 21.5%;
    left: 21.5%;
    font-size: 35px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
#chevron_right{
    position: absolute;
    top: 21.5%;
    left: 21.5%;
    font-size: 35px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

#Izq{
    position: absolute;
    top: 52%;
    left: 26%;
    width: 55px;
    height: 55px;
    background-color: white;
    border-radius: 20px;
    
    border-width: 0px;
    cursor: pointer;
}
#Der{
    position: absolute;
    top: 52%;
    right: 25%;
    width: 55px;
    height: 55px;
    background-color: white;
    border-radius: 20px;
    
    border-width: 0px;
    cursor: pointer;
}
.recetaIzq{
    width: 250px;
    height: 365px;
    background-color:rgba(240, 240, 240,0.5);
    border-radius: 20px;
  }
  .recetaDer{
    transition: .4s all ease;
    position: relative;
    top: 8%;
    left: 65%;
    width: 250px;
    height: 365px;
    background-color:rgba(240, 240, 240,0.5);
    border-radius: 20px;
  }
  