.box {
    position: absolute;
    top: 175px;
    left: 70px;
    width: 60%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    font-size: 1.4em;
    padding: 1px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: #06D85F;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
      position: absolute;
      top: 35%;
      left: 0.8%;
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: 'Poppins', sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
    font-family: 'Poppins', sans-serif;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
    font-family: 'Poppins', sans-serif;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }





















#MoverRecetas{
    position: absolute;

    top: 5%;

    height: 100%;
    width: 1000%;

}
#recetasContainer{
    position:absolute;
    top: 12%;
    left: 30%;
    background-color: rgb(236, 234, 234);
    width: 550px;
    height: 600px;
    border-radius: 30px;
    overflow-x: scroll;
  
}
#item1{
    position: absolute;
    top: 8%;
    left: 1%;
    cursor: pointer;
    
}
#item2{
    position: absolute;
    top: 8%;
    left: 11.9%;
    cursor: pointer;
}

.receta{
    align-content: center;
    background-image: linear-gradient(to bottom right,  #B8EEFF, rgba(63, 173, 207), rgb(54, 152, 182));
    width: 450px;
    height: 465px;
    border-radius: 20px;
    cursor: pointer;
}

body{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:rgb(236, 234, 234);
}


header{
    position: fixed;
    padding: 15px;
    text-align: center;
    background: #ffffff;
    width: 100%;
    z-index: 9999;
    top: 0%;
    left:0%;
}
#headertitle{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: white;
}
#Txtlogo{
    position:absolute;
    top:25%;
    left:10%;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-decoration: bolder;
    color: #3FADCF;
}
#logo{
    position: absolute;
    top:2%;
    left:0%;
    width: 126px;
    height: 124px;
    border-width: 0px;
    background-color: rgba(0,0, 0, 0);
    background-repeat: no-repeat;
    background-image: url(../imagenes/Logo-Header.png);
    
}


#LogOut{
  position: absolute;
  top:12%;
  right: 10%;
}
#Usuario{
  position: absolute;
  top:8%;
  right: 5%;
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../imagenes/imgUsuarioM.png");
  background-size: 60px 60px;
  background-color: rgba(0, 0, 0,0);
  border-width: 0px;
}
#verReceta{
    position: relative;
    top:40%;
    left: 3%;
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    cursor: pointer;
    color: black;
}
#LO_M{
  
  border-radius: 10px;
  color:#555555;
  border: 0px;
  width: 100px;
  height: 54px;
  font-size: 18px;
  border-radius: 10px; 
  cursor: pointer;
}
.minibutton{
    background-color: #B8EEFF;
    border-radius: 20px;
    color: #222222;
    font-family: 'Poppins', sans-serif;
    border: 0px;
    width: 120px;
    height: 54px;
    font-size: 18px;
    cursor: pointer;
}
.ayuda{
    position: absolute;
    top: 25%;
    left:2.3%;
    width: 65px;
    height: 65px;
    background-color: #ffffff9f;
    border-radius: 40px;
    border-width: 0px;
    font-size: 35px;
    text-align: center;
    color: rgb(102, 102, 102);
    cursor: pointer;
}
#RegresarP{
    position: absolute;
    top: 40%;
    left: 2.3%;
    width: 65px;
    height: 65px;
    background-color: #ffffff9f;
    border-radius: 40px;
    border-width: 0px;
    cursor: pointer;
}
#RegresarP:hover {
  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ayuda:hover {
   color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#IconregresarP{
    position: absolute;
    top: 21.5%;
    left: 21.5%;
    font-size: 35px;
    color: rgb(102, 102, 102);
    cursor: pointer;
}
div{
    overflow: hidden;
}

.recetaflip{
 
    width: 450px;
    height: 465px;
    background-color: rgb(73, 201, 240);
    border-radius: 20px;
}


#lbl1{
    position: absolute;
    top: 50%;
    left: 35%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    cursor: pointer;
    
}
#lbl2{
    position: relative;
    top: 58%;
    left:38%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    cursor: pointer;
    color: white;
}
#chevron_left{
    position: absolute;
    top: 21.5%;
    left: 21.5%;
    font-size: 35px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
#chevron_right{
    position: absolute;
    top: 21.5%;
    left: 21.5%;
    font-size: 35px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

#Izq{
    position: absolute;
    top: 52%;
    left: 26%;
    width: 55px;
    height: 55px;
    background-color: white;
    border-radius: 20px;
    
    border-width: 0px;
    cursor: pointer;
}
#Der{
    position: absolute;
    top: 52%;
    right: 25%;
    width: 55px;
    height: 55px;
    background-color: white;
    border-radius: 20px;
    
    border-width: 0px;
    cursor: pointer;
}
.recetaIzq{
    width: 250px;
    height: 365px;
    background-color:rgba(240, 240, 240,0.5);
    border-radius: 20px;
  }
  .recetaDer{
    transition: .4s all ease;
    position: relative;
    top: 8%;
    left: 65%;
    width: 250px;
    height: 365px;
    background-color:rgba(240, 240, 240,0.5);
    border-radius: 20px;
  }
  